# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints

# Misc
.vscode/

# CEPI
_notes.txt
prompts.txt
data/raw/Anno_Updates/
data/raw/Full_Flu_Annos/
data/processed/flu_a/
data/embeddings/flu_a/
data/embeddings/bunya/April_2025_old/
data/datasets/bunya/April_2025_old/
data/datasets/flu_a/
logs/
models/
results/
