# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints

# Misc
.vscode/

# CEPI
_notes.txt
data/raw/Anno_Updates/
data/raw/Full_Flu_Annos/
logs
models
results
esm2_*
